.hr
{
    width: 98%;
    margin: 0% 1%;
    height: 2px;
    background-color: var(--veryDark);
    color: transparent;
}

.br
{
    color: transparent;
    background-color: transparent;
    height: 30px;
}

.container
{
    background-color: var(--veryLight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--veryDark);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 50px black;
}

.container:hover
{
    box-shadow: 2px 2px 70px black;
}

.input
{
    width: 160px;
    height: 15px;
    padding: 3px;
    margin: 5px;
    border: 2px solid var(--veryDark);
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}

.input:hover
{
    box-shadow: 1px 1px 5px black;
}

.btn 
{
    border-radius: 3px;
    margin: 5px 3px;
    padding: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}

.btn:hover
{
    background-color: var(--veryLight);
    border: 2px solid var(--veryLight);
    box-shadow: 1px 1px 10px black;
}

.danger
{
    background-color: var(--danger);
    color: var(--veryLight);
    border: 2px solid var(--danger);
}

.danger:hover
{
    background-color: var(--higherDanger);
    border: 2px solid var(--higherDanger);
}

.success
{
    background-color: var(--success);
    color: var(--veryLight);
    border: 2px solid var(--success);
}

.success:hover
{
    background-color: var(--greatSuccess);
    border: 2px solid var(--greatSuccess);
}

.primary
{
    background-color: var(--primary);
    color: var(--veryLight);
    border: 2px solid var(--primary);
}

.primary:hover
{
    background-color: var(--bestPrimary);
    border: 2px solid var(--bestPrimary);
}

.dark
{
    background-color: var(--dark);
    color: var(--veryLight);
    border: 2px solid var(--dark);
}

.dark:hover
{
    background-color: var(--veryDark);
    border: 2px solid var(--veryDark);
}

.warning
{
    background-color: var(--warning);
    color: var(--veryLight);
    border: 2px solid var(--warning);
}

.warning:hover
{
    background-color: var(--greaterWarning);
    border: 2px solid var(--greaterWarning);
}