.container
{
    margin: 5% 35%;
}

.container h2,
.container h2 a
{
    font-size: 20px;
}

#message
{
    display: none;
}

@media only screen and (max-width: 940px)
{
    .container
    {
        margin: 5% 25%;
    }
}

@media only screen and (max-width: 570px)
{
    .container
    {
        margin: 5% 15%;
    }
}

@media only screen and (max-width: 410px)
{
    .container
    {
        margin: 5%;
    }
}

@media only screen and (max-width: 315px)
{
    .container
    {
        margin: 5% 3%;
    }
}

@media only screen and (max-width: 300px)
{
    .container
    {
        margin: 1%;
    }

    .container h2,
    .container h2 a
    {
        font-size: 15px;
    }
}