.container
{
    width: 70vw;
    margin: 20px auto;
    padding: 20px;
    display: block;
}

.left
{
    background-color: var(--veryLight);
    margin: 1% 20% 1% 0%;
    border: 2px solid var(--veryDark);
    border-radius: 5px;
    box-shadow: 1px 1px 15px black;
}

.left:hover
{
    box-shadow: 1px 1px 30px black;
}

.right
{
    background-color: var(--veryLight);
    margin: 1% 0% 1% 20%;
    border: 2px solid var(--veryDark);
    border-radius: 5px;
    box-shadow: 1px 1px 15px black;
}

.right:hover
{
    box-shadow: 1px 1px 30px black;
}

.p
{
    padding: 10px 10px 0px 10px;
    font-size: 15px;
}

.small
{
    font-size: 13px;
    padding: 0px 10px 10px 10px;
}

.sub-btn
{
    border-radius: 7px;
    margin-left: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}

.sub-btn:hover
{
    box-shadow: 1px 1px 10px black;
}

#openInPage{
    display: grid;
}

#roomUtility > div, #roomUtility > div > span
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 5%;
}

#edit_group_name, #add_user
{
    display: none;
}

#users table, #users table thead tr th, #tbody tr td
{
    margin: 10px auto;
    padding: 10px 20px;
    border: 3px solid black;
    border-collapse: collapse;
}

#container
{
    height: 65vh;
    overflow-y: auto;
}

.br
{
    height: 55px !important;
}

#send
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#send .input
{
    width: 60vw;
    height: 20px;
}

@media only screen and (max-width: 1000px)
{
    #roomUtility > div{
        display: grid;
    }

    #roomUtility > div > span{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    
    #roomUtility > div > span > span{
        width: 100%;
    }
}

@media only screen and (max-width: 650px)
{
    #users table, #users table thead tr th, #tbody tr td
    {
        margin: 1px auto;
        padding: 1px;
        border: 2px solid black;
        border-collapse: collapse;
    }
}

@media only screen and (max-width: 450px)
{
    .container
    {
        width: 85vw;
    }

    .p
    {
        padding: 5px 5px 0px 5px;
    }

    .small
    {
        padding: 0px 5px 5px 5px;
    }

    .sub-btn
    {
        margin-left: 1px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 350px)
{
    .left
    {
        margin: 1% 10% 1% 0%;
    }

    .right
    {
        margin: 1% 0% 1% 10%;
    }
}

@media only screen and (max-width: 320px)
{
    .container
    {
        width: 83vw;
    }

    .br
    {
        height: 65px !important;
    }

    .left
    {
        margin: 1% 5% 1% 0%;
    }

    .right
    {
        margin: 1% 0% 1% 5%;
    }
}

@media only screen and (max-width: 305px)
{
    .left
    {
        margin: 1% 3% 1% 0%;
    }

    .right
    {
        margin: 1% 0% 1% 3%;
    }
}